html,body,div{
  margin:0px;
  padding:0px;
  color:rgb(111, 112, 110);
}
.calendar{
  position: relative;
  display: table;
  margin:0 auto;
  padding:14px 24px 24px 24px;
  width:400px;
  background-color: #efeef4;
}
.thead{
  position: relative;
  /* 类似thead */
  /* display: table-header-group; */
  width:400px;
  height:30px;
  line-height:30px;
}
.thead i{
  position: absolute;
  width:18px;
  height:30px;
  line-height:30px;
  font-weight:800;
}
.iconfont.icon-arrowr{
  left:-10px;
}
.iconfont.icon-arrowl{
  right:-10px;
}
.thead .ym{
  display:inline-block;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  text-align: center;
  width:98px;
  height:30px;
  line-height:30px;
  letter-spacing:1px;
}
.tbody{
  /* 类似tbody */
  /* display: table-row-group; */
  width:400px;
}
.day{
  display: table-row;
  width:400px;
  height:35px;
  line-height:57px;
}
.tbody span{
  display: table-cell;
  width:57px;
  height:35px;
  line-height:35px;
  text-align: center;
}
.date{
  width:400px;
}
